<a href="https://colab.research.google.com/github/mydevground/DataScienceLab/blob/main/PysparkDataframe_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Action list:

1.   Checking the Datatypes of the Column(Schema)
2.   Selecting Columns And Indexing
3.   Check Describe option similar to Pandas
4.   Adding Columns
5.   Dropping columns
6.   Renaming Columns

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 64 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=16f25b9c7903ffb12a1b6751d8da3eed3f2a1af80416797e02e6be37c4bdcfba
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

In [15]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('sample_data/test1.csv',inferSchema=True)

In [16]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [17]:
df_pyspark=spark.read.csv('sample_data/test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Brown| 31|        10| 30000|
|Kenny| 28|         8| 28000|
|Sunny| 29|         4| 26000|
| Bola| 24|         3| 24000|
| Joke| 27|         1| 15000|
|Hakim| 23|         2| 19000|
+-----+---+----------+------+

In [18]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.head(3)

[Row(Name='Brown', age=31, Experience=10, Salary=30000),
 Row(Name='Kenny', age=28, Experience=8, Salary=28000),
 Row(Name='Sunny', age=29, Experience=4, Salary=26000)]

In [22]:
df_pyspark.show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Brown| 31|        10| 30000|
|Kenny| 28|         8| 28000|
|Sunny| 29|         4| 26000|
| Bola| 24|         3| 24000|
| Joke| 27|         1| 15000|
|Hakim| 23|         2| 19000|
+-----+---+----------+------+

In [23]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Brown|        10|
|Kenny|         8|
|Sunny|         4|
| Bola|         3|
| Joke|         1|
|Hakim|         2|
+-----+----------+

In [24]:
df_pyspark['Name']

Column<'Name'>

In [25]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [26]:
df_pyspark.describe().show()

+-------+-----+----------------+-----------------+------------------+
|summary| Name|             age|       Experience|            Salary|
+-------+-----+----------------+-----------------+------------------+
|  count|    6|               6|                6|                 6|
|   mean| null|            27.0|4.666666666666667|23666.666666666668|
| stddev| null|3.03315017762062|3.559026084010437| 5680.375574437545|
|    min| Bola|              23|                1|             15000|
|    max|Sunny|              31|               10|             30000|
+-------+-----+----------------+-----------------+------------------+

In [27]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [28]:
df_pyspark.show()

+-----+---+----------+------+-----------------------+
| Name|age|Experience|Salary|Experience After 2 year|
+-----+---+----------+------+-----------------------+
|Brown| 31|        10| 30000|                     12|
|Kenny| 28|         8| 28000|                     10|
|Sunny| 29|         4| 26000|                      6|
| Bola| 24|         3| 24000|                      5|
| Joke| 27|         1| 15000|                      3|
|Hakim| 23|         2| 19000|                      4|
+-----+---+----------+------+-----------------------+

In [29]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+------+-----------------------+
|New Name|age|Experience|Salary|Experience After 2 year|
+--------+---+----------+------+-----------------------+
|   Brown| 31|        10| 30000|                     12|
|   Kenny| 28|         8| 28000|                     10|
|   Sunny| 29|         4| 26000|                      6|
|    Bola| 24|         3| 24000|                      5|
|    Joke| 27|         1| 15000|                      3|
|   Hakim| 23|         2| 19000|                      4|
+--------+---+----------+------+-----------------------+